.navbar,
.navigation,
.connect {
	display: flex;
}

.navbar div {
	flex: 1;
}

.navbar {
	user-select: none;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	font-size: 1.2rem;
	padding: 2rem;
	height: 1rem;
	background-color: rgb(40, 44, 46);
}

.logo {
	justify-content: flex-start;
}

.logo img {
	height: 3rem;
}

.navigation {
	justify-content: center;
	gap: 1.5rem;
}

.navigation a {
	color: white;
	text-decoration: none;
	border-radius: 2rem;
	background-color: rgb(31, 34, 36);
	padding: 0.6rem 1.2rem;
	transition: color 0.3s ease;
}

.navigation a:hover {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(31, 34, 36, 0.8);
}

.connect {
	justify-content: flex-end;
}

.connect a {
	text-decoration: none;
	padding: 0.6rem 1.2rem;
	border-radius: 2rem;
	color: white;
	background-color: rgb(22, 136, 199);
	transition: background-color 0.3s ease, color 0.3s ease;
}

.connect a:hover {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(22, 137, 199, 0.8);
}

@media (max-width: 768px) {
	.navbar {
		display: none;
	}
}
